* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --font-size: 2rem;
  --color-var: #f44336;
  --font-family:"Poppins", sans-serif;
}
img {
  width: 100%;
  height: 100%;
}
div{
    display: inline-block;
}
.container{
  width: 80%;
  position: relative;
  left: 20%;
  padding-left: 50px;
  margin-bottom: 50px;
}
h1{
  font-weight: bolder;
  font-family: var(--font-family);
  font-size: 64px;

}
h2{
  font-weight: bolder;
  color:var(--color-var);
  font-size: 48px;
  font-family: var(--font-family);

}

.redline{
  background-color: #f44336;
  width: 50px;
  border-radius: 4px;
  height: 10px;
}
p{
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 30px;
  width: 90%;
}


/* end of general style */
nav {
  background-color: var(--color-var);
  width: 20%;
  height: 100vh;
  position: fixed;
  color: white;
  padding-top: 100px;
  padding-left: 40px;
}
nav h3{
  position: relative;
  right: 20px;
  height: 120px;
  font-weight: bolder;
  font-size: 24px;
  font-family: Verdana, sans-serif;
}
ul {
  list-style: none;
  position: relative;
  right: 20px;
  line-height: 40px;
  font-weight: bold;
  font-size: 18px;
  font-family: var(--font-family);
}

ul :hover{
  cursor: pointer;
  background-color: white;
}

ul :hover a{
  color: black;
}

li{
  display: block;
  padding-left: 10px;
  
}
a {
  color: white;
  text-decoration: none;
}
/* end of nav style */
  .row{
    display: block;
    float: left;   
    padding-bottom: 10px;
  }
.box{
width: 45%;
}
.clr{
  clear: both;
}
/* end of showcase style */
.des-holder{
  size: 90%;
  margin: 20px 0;
}
.des1{
  width: 30%;
  background-color: #f1f1f1;
}
.des{
  background-color: #f1f1f1;
  margin-left: 20px;
  width: 30%;
}
/* end of design style */
.table{
  text-align: center;
  line-height: 100px;
}
.pro{
  margin-left: 20px;
  width: 500px;
  background-color: #f1f1f1;
}
.basic{
  width: 500px;
  background-color: #f1f1f1;
}
.basic h3{
  color: white;
  background-color: #616161;
}
.pro h3{
  color: white;
  background-color: #f44336;
}
.table h3{
  font-size: 24px;
}
.p-table{
  font-size: 18px;
  padding: 15px;
  padding-left: 70px;
  font-family: var(--font-family);
}
.fade{
  padding-bottom: 30px;
  padding-left: 50px;
  opacity: 0.60;
  font-size: 16px;
}
/* end of package style */
.contact p{
  font-family: var(--font-family);
  font-size: 16px;
}
label{
  font-family: var(--font-family);
  font-size: 16px;
}
input{
  width: 90%;
  height: 40px;
}



