* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
  height: 100%;
}
/* ************************************************************************** */
/* start of home style  */

/* start of home style part 1 */
.brownbg {
  background-image: url(../home-img/textured-bg-brown-min.webp);
  height: 7vh;
}
.home-p1 {
  background-image: url(../home-img/Summer-Trellis-Sale-Home.jpg);
  position: relative;
  height: 70vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.home-p1::after {
  content: "";
  position: absolute;
  background-image: url(../home-img/paper-edge.webp);
  background-repeat: no-repeat;
  width: 100%;
  height: 80px;
  bottom: 0px;
}
.home ul {
  padding-bottom: 80px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}
.home li {
  padding-left: 20px;
}

.home-p1 a {
  color: #8aa479;
}
.home-p1 img {
  transform: translateY(-30px);
}
.home i {
  margin-bottom: 80px;
  padding-left: 10px;
  color: #8aa479;
  font-size: 20px;
}
.home i:hover {
  cursor: pointer;
}
.cedar {
  transform: translateY(130px);
  line-height: 100px;
  color: white;
}
.title {
  position: relative;
  font-size: 50px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}
.title::after {
  content: "";
  position: absolute;
  background-image: url(../home-img/carousel-title-line.webp);
  background-repeat: no-repeat;
  height: 50px;
  width: 250px;
  top: 70px;
  left: 800px;
}
.cedar p {
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}
.cedar h4 {
  font-size: 24px;
  font-weight: 300;
  background-color: #e9b534;
  margin: auto;
  width: 250px;
  height: 50px;
  padding-top: 10px;
}
.cedar h4:hover {
  cursor: pointer;
}

/* start of home part 2 */

.home-p2 p {
  font-size: 25px;
  font-weight: 500;
  line-height: 50px;
  color: #405440;
  font-family: Arial, Helvetica, sans-serif;
}
.home-pic-holder {
  margin-top: 80px;
  display: flex;
  cursor: pointer;
  justify-content: space-around;
}
.pic {
  position: relative;
}
.layer {
  position: absolute;
  height: 100%;
  width: 100%;
  padding-top: 60px;
}
.home-pic-holder h6 {
  font-family: Lora;
  font-style: italic;
  color: #fff;
  font-size: 20px;
}
.home-pic-holder p {
  font-size: 16px;
  color: #fff;
}

/* End of home style  */
/* ************************************************************************** */

/* ************************************************************************** */
/* start of top seller style */
.top-seller .seller-title span {
  position: relative;
  z-index: 1;
  font-size: 26px;
  color: #405440;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  background-color: #fff;
}
.top-seller .seller-title::before {
  content: "";
  z-index: -1;
  position: absolute;
  background-image: url(../page_title_devider.webp);
  background-repeat: no-repeat;
  width: 80%;
  height: 10px;
  left: 165px;
  top: 62px;
}
.item-holder {
  display: flex;
  justify-content: space-around;
}
.item-box {
  width: 23%;
}
.pic-box {
  position: relative;
}
.layer-seller h6 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 20px;
  transition: all ease-in-out 0.5s;
}
.top-out {
  position: absolute;
  top: 110px;
  left: 80px;
  background-color: rgba(233, 181, 52, 0.9);
  opacity: 0;
}
.bottom-out {
  position: absolute;
  top: 170px;
  left: 65px;
  background-color: rgba(233, 181, 52, 0.9);
  opacity: 0;
}
.pic-box img:hover {
  cursor: pointer;
}
.pic-box:hover .bottom-out,
.pic-box:hover .top-out,
.pic-box:hover .top-sale {
  opacity: 1;
  cursor: pointer;
}
.bottom-out:hover,
.top-out:hover,
.top-sale:hover {
  background-color: rgb(247, 179, 7);
}
.brown-out span:hover,
.red-sale span:hover {
  cursor: default;
}
.brown-rotate {
  position: absolute;
  top: 20px;
  left: 220px;
  width: 50px;
  height: 50px;
  background-color: #4b3b2e;
  transform: rotate(-45deg);
}
.brown-rotate h6 {
  position: relative;
  font-size: 11px;
}
.brown-out span {
  position: absolute;
  left: -2px;
  bottom: -22px;
  transform: rotate(45deg);
}
.top-sale {
  position: absolute;
  top: 135px;
  left: 80px;
  background-color: rgba(233, 181, 52, 0.9);
  opacity: 0;
}
.red-rotate {
  position: absolute;
  top: 20px;
  left: 220px;
  width: 50px;
  height: 50px;
  background-color: #e16559;
  transform: rotate(-45deg);
}
.red-rotate h6 {
  position: relative;
  font-size: 15px;
}
.red-sale span {
  position: absolute;
  left: 5px;
  top: 17px;
  transform: rotate(45deg);
}
.item-data-box h5 {
  color: rgb(64, 84, 64);
}
.item-data-box i {
  color: #fec600;
}
.item-data-box p {
  color: #3085c7;
  font-size: 16px;
  font-weight: 300;
}
.item-data-box p:hover {
  cursor: pointer;
}
.item-data-box span {
  color: #8aa479;
}
.item-data-box .dashed-price {
  text-decoration: line-through;
  color: #999;
}

/* END of top seller style */
/* ************************************************************************** */

/* ************************************************************************** */
/* start of recently style */
.recently-title span {
  position: relative;
  font-size: 26px;
  color: #405440;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  background-color: #fff;
}
.recently-added h4::before {
  content: "";
  position: absolute;
  background-image: url(../page_title_devider.webp);
  width: 78%;
  height: 10px;
  left: 170px;
  top: 678px;
  background-repeat: no-repeat;
}

/* end of recently style */
/* ************************************************************************** */

/* ************************************************************************** */
/* start of articles style */
.articles{
  background-image: url(../articles-img/textured-bground-brown.webp);
  background-repeat: no-repeat;
  height: 40vh;
}
.articles h
.articles-holder {
  display: flex;
  justify-content: space-around;
}
.articles-box {
  width: 30%;
  position: relative;
}
.articles-layer p {
  position: absolute;
  color: white;
  top: 80px;
  left: 55px;
}
.articles-layer .articles-icon {
  position: absolute;
  color: white;
  right: 20px;
  top: 10px;
}
/* end of articles style */
/* ************************************************************************** */

/* ************************************************************************** */
/* start of why style */
.why-title span {
  position: relative;
  font-size: 26px;
  color: #405440;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  background-color: #fff;
}
.why h4::before {
  content: "";
  position: absolute;
  background-image: url(../page_title_devider.webp);
  width: 78%;
  height: 10px;
  left: 170px;
  bottom: -827px;
  background-repeat: no-repeat;
}
.why-holder {
  display: flex;
  justify-content: space-around;
}
.why-box {
  width: 23%;
}
/* end of why style */
/* ************************************************************************** */

/* ************************************************************************** */
/* start of story style */

.our-story {
  background-image: url(../our-story-image.jpg);
  background-repeat: no-repeat;
  height: 60vh;
}
.story-content {
  position: relative;
  top: 150px;
}
.story-title {
  font-weight: 600;
  font-size: 38;
  color: white;
  position: relative;
}
.story-title::after {
  content: "";
  position: absolute;
  background-image: url(../home-img/carousel-title-line.webp);
  background-repeat: no-repeat;
  width: 200px;
  height: 100px;
  top: 60px;
  left: 42%;
}
.story-content p {
  color: white;
  position: absolute;
  top: 100px;
}

/* end of story style */
/* ************************************************************************** */

/* ************************************************************************** */
/* start of intagram style */

.instagram-title span {
  position: relative;
  font-size: 26px;
  color: #405440;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  background-color: #fff;
}
.instagram h4::before {
  content: "";
  position: absolute;
  background-image: url(../page_title_devider.webp);
  width: 78%;
  height: 10px;
  left: 170px;
  bottom: -1637px;
  background-repeat: no-repeat;
}
.instagram-row {
  display: flex;

}
.instagram-box {
  color: white;
  position: relative;
  width: 20%;
  height: 450px;
}
.instagram-box:hover {
  cursor: pointer;
}
.instagram-top-icon {
  position: absolute;
  right: 0px;
  transition: all ease-in-out 0.5s;
}
.instagram-box:hover .instagram-top-icon {
  opacity: 0;
}
.instagram-layer {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.788);
  opacity: 0;
  transition: all ease-in-out 0.5s;
}
.instagram-layer-content {
  position: absolute;
  top: 120px;
  opacity: 0;
  transition: all ease-in-out 0.5s;
}
.instagram-box:hover .instagram-layer-content {
  top: 90px;
  opacity: 1;
}
.instagram-box:hover .instagram-layer {
  opacity: 1;
}

/* end of instagram style */
/* ************************************************************************** */

/* ************************************************************************** */
/* start of footer style  */
.footer{
  background-image: url(../footer-img/textured-bg-brown-min.webp);
  background-repeat: no-repeat;
}
.footer-content {
  display: flex;
  justify-content: space-around;
}
.footer-content ul {
  list-style: none;
  transform: translateX(-30px);
}
.footer-content a {
  text-decoration: none;
}
.footer-content a:hover {
  text-decoration: underline;
}
.footer-content i {
  background-color: red;
}
.footer-bottom {
  display: flex;
  justify-content: space-around;
}
.bottom-box {
  width: 32%;
}

/* end of footer style */
/* ************************************************************************** */
